{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'employee/css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'employee/css/style.css' %}">
    <title>Remove Employee</title>
</head>
<body>
    <div class="container">
        <h2>Remove Employee</h2>
        <form method="post" action="{% url 'remove_employee' %}">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <button type="submit">Remove Employee</button>
        </form>
    </div>
</body>
</html>
